.container{
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr;
    grid-template-areas:
         "HEADER HEADER HEADER" 
         "LEFTSIDEBAR MAINCONTENT RIGHTSIDEBAR"
         "FOOTER FOOTER FOOTER"  ;
    grid-gap: 10px;
}
nav{
    background-color: #FE8515;
    grid-area: HEADER;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80px;
}
main{
    background-color: #8bf10a ;
    grid-area: MAINCONTENT;
    border-radius: 2%;
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
#leftsidebar{
    background-color: #7fc242;
    grid-area: LEFTSIDEBAR;
    color:white ;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#rightsidebar{
    background-color:#7fc242 ;
    grid-area: RIGHTSIDEBAR;
    color:white ;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
footer{
    background-color:#f57e20 ;
    grid-area: FOOTER;
    color: white;
    display: flex;
    justify-content: center;
    text-align:  center;
    align-items: center;
    height: 80px;
}

